*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #603c21;
    --beige: #f4ddcc;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Helvetica';
    font-size: 1.6rem;
    font-weight: lighter;
    color: var(--brown);
    opacity: 0.7;
}

h1 {
    position: relative;
    top: 5rem;
}

nav {
    position: fixed;
    width: 100%;
    background: var(--beige);
    height: 4rem;
    text-align: right;
    font-size: 2.1rem;
    font-weight: 600;
}

nav li {
    position: relative;
    display: inline;
    margin: 0 5rem;
    right: 5rem;
    top: 0.7rem;
}

.activated {
    box-shadow: 0rem 0rem 1rem gray;
    transition: box-shadow 0.5s;
}

a {
    text-decoration: none;
    color: var(--brown);
    opacity: 0.6;
}

a:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s;
}

form {
    display: flex;
    position: relative;
    max-width: 60rem;
    top: 10rem;
    flex-direction: column;
    text-align: right;
    margin: auto;
    font-size: 2.5rem;
}

form div {
    margin: 1rem 1.5rem;
}

form div input {
    min-width: 20rem;
    position: relative;
    bottom: 0.5rem;
    height: 3rem;
}

#selection {
    width: 5rem;
    font-size: 1.5rem;
}

#submit {
    font-size: 2.5rem;
    color: white;
    background-color: var(--brown);
    border-color: transparent;
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.5rem;
}

#submit:hover {
    border-color: var(--beige);
    background-color:#351c09
}

#tick {
    position: relative;
    top: 10rem;
    height: 10rem;
    width: 10rem;
    margin: auto;
    z-index: 100;
}

#added {
    position: relative;
    top: 13rem;
    width: auto;
    color: var(--brown);
    font-size: 3rem;
}