*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #603c21;
    --beige: #f4ddcc;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Helvetica';
    font-size: 1.6rem;
    font-weight: lighter;
    color: var(--brown);
    opacity: 0.7;
}

nav {
    position: fixed;
    width: 100%;
    background: var(--beige);
    height: 4rem;
    text-align: right;
    font-size: 2.1rem;
    font-weight: 600;
    z-index: 100;
}

nav li {
    position: relative;
    display: inline;
    margin: 0 5rem;
    right: 5rem;
    top: 0.7rem;
}

.activated {
    box-shadow: 0rem 0rem 1rem gray;
    transition: box-shadow 0.5s;
}

a {
    text-decoration: none;
    color: var(--brown);
    opacity: 0.6;
}

a:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s;
}

#main {
    display: flex;
    position: relative;
    top: 4rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 2rem;
}

#submit {
    padding: 0.5rem;
    color: white;
    background-color: red;
    border-color: red;
    border-radius: 1rem;
    opacity: 0.7;
}

#submit:hover { 
    opacity: 1;
}

#list {
    width: 80vw;
    margin: 2rem;
    padding: 1rem;
    border: 0.2rem solid var(--beige);
    border-radius: 1rem;
}

.uni {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
}

.white {
    border: 0.2rem solid #74daff;
}

.red {
    border: 0.2rem solid red;
}

.uni a {
    position: absolute;
    margin-top: -3rem;
    right: 1rem;
    padding: 1rem;
    background-color: var(--brown);
    color: white;
    opacity: 1;
}

.uni a:hover {
    background-color: var(--beige);
    color: var(--brown);
    transition: background-color 1s color 1s;
}